## 4. Load JOIN Results into Pandas DataFrame

Fetch the results of the JOIN query and load them into a Pandas DataFrame for further analysis or workflow integration.

## 1. Create Sample Data: Interns and Mentors Tables

We will use sqlite3 to create two tables: 'interns' (with intern_id, intern_name, track) and 'mentors' (with mentor_id, mentor_name, track).

# Combine Related Tables with INNER JOIN and Pandas

This notebook demonstrates how to combine normalized tables using SQL INNER JOIN and bring the results into a Pandas workflow.

# Combine Related Tables with INNER JOIN and Pandas

This notebook demonstrates how to combine normalized tables using SQL JOINs and bring the results into a Pandas workflow for analysis.

## 1. Create Sample Data for Interns and Mentors Tables

We will define two tables:
- `interns` with columns: intern_id, intern_name, track
- `mentors` with columns: mentor_id, mentor_name, track

Both tables will be created in an in-memory SQLite database for demonstration.

In [ ]:
# Import required libraries
import sqlite3
import pandas as pd

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create interns table
cursor.execute('''
    CREATE TABLE interns (
        intern_id INTEGER PRIMARY KEY,
        intern_name TEXT NOT NULL,
        track TEXT NOT NULL
    )
''')

# Create mentors table
cursor.execute('''
    CREATE TABLE mentors (
        mentor_id INTEGER PRIMARY KEY,
        mentor_name TEXT NOT NULL,
        track TEXT NOT NULL
    )
''')

## 2. Insert Data into SQLite Database

Let's insert some sample rows into both the `interns` and `mentors` tables.

In [ ]:
# Insert sample data into interns
interns_data = [
    (1, 'Alice', 'Data Science'),
    (2, 'Bob', 'Web Development'),
    (3, 'Charlie', 'Data Science'),
    (4, 'David', 'AI'),
    (5, 'Eva', 'Web Development'),
    (6, 'Frank', 'Data Science')
]
cursor.executemany('INSERT INTO interns VALUES (?, ?, ?)', interns_data)

# Insert sample data into mentors
mentors_data = [
    (1, 'Dr. Smith', 'Data Science'),
    (2, 'Ms. Johnson', 'Web Development'),
    (3, 'Dr. Lee', 'AI')
]
cursor.executemany('INSERT INTO mentors VALUES (?, ?, ?)', mentors_data)

conn.commit()

## 3. Write and Execute INNER JOIN Query

Now, let's write an INNER JOIN SQL query to display each intern alongside their track's mentor.

In [ ]:
# Write and execute INNER JOIN query
join_query = '''
    SELECT i.intern_id, i.intern_name, i.track, m.mentor_name
    FROM interns i
    INNER JOIN mentors m ON i.track = m.track
'''
cursor.execute(join_query)
results = cursor.fetchall()

# Show the raw results
for row in results:
    print(row)

In [ ]:
# Load JOIN results into Pandas DataFrame
columns = ['intern_id', 'intern_name', 'track', 'mentor_name']
df = pd.DataFrame(results, columns=columns)
df